<!DOCTYPE html>
<html>
<head>
    <title>Secrets</title>
</head>
<body>
    <header>
        <h1>Hello, {{request.session.name}}!</h1>
        <form action="{%url 'secrets:create_secret' id=request.session.id %}" method="POST">
        {% csrf_token %}
            <textarea name="message" rows="4" cols="30"></textarea>
            <button name="submit" value="submit">Submit</button>
        </form>
        <a href="{%url 'login:logout' %}">Logout</a>
    </header>
    <section>
        <h1>Recent Secrets...</h1>
        <table>
            {% if secrets %}
                {% for secret in secrets %} 
                <tr>
                    <td>{{secret.message}}</td>
                    <td>(Sent at {{secret.created_at}})</td>
                    {% if secret.user_auth == True %}
                    <td>You posted this</td>
                    <td>
                        <form action="{%url 'secrets:delete_secret' id=secret.id %}" method="POST">
                        {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="submit" name="delete" value="delete">
                        </form>
                    {% endif %}
                    {% if request.session.id != secret.posted_by.id %}

                    {% if secret.liked == True %}
                        <td>You liked this</td>
                    {% else %}
                        <td>
                            <form action="{%url 'secrets:create_like' user_id=request.session.id secret_id=secret.id %}" method="POST">
                            {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <input type="submit" name="Like" value="Like">
                            </form>
                    {% endif %}
                    {% endif %}
                     </td>
                 </tr>
                {% endfor %} 
            {% endif %}

        </table>
  
    </section>
    <a href="{%url 'secrets:most_popular' %}">most popular</a>
</body>
</html>