<!DOCTYPE html>
<html>
<head>
    <title>New Animal</title>
</head>
<body>  

    <form method="post" action="/animals">
        <label>Animal Name</label>
        <input type="name" name="name"  required>

        <label>Family</label>
        <input type="text" name="family" required>

        <label>Color</label>
        <input type="text" name="color" required>

        <label>Expected Lifespan (years)</label>
        <input type="number" name="lifespanYears" required>

        <button>Submit</button>
    </form>

</body>
</html>