<!DOCTYPE html>
<html>
<head>
  <title>Delete a Student</title>
</head>
<body>
  <form action="/delete" method="POST">
 <!--    <input type="text" name="name" placeholder="Name"> -->
    <input type="text" name="campus" placeholder="Campus">
<!--     <input type="text" name="age" placeholder="Age"> -->
    <p></p>
    <button type="submit">Delete</button>
    <p>THIS CANNOT BE UNDONE</p>
  </form>
</body>
</html>